

.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1395px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 448px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 69px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 20px 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    text-transform: uppercase;
    font-weight: 700;
    margin: 27px 0 0;
  }
  
  .u-section-1 .u-group-2 {
    width: 235px;
    min-height: 224px;
    --radius: 20px;
    height: auto;
    margin: 49px auto 0 325px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 149px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-icon-1 {
    margin-right: 0;
    font-size: 3.25em;
    vertical-align: 0px;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-3 {
    width: 235px;
    min-height: 224px;
    --radius: 20px;
    height: auto;
    margin: -224px auto 0 887px;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 20px 0;
  }
  
  .u-section-1 .u-icon-2 {
    margin-right: 0;
    font-size: 3.25em;
    vertical-align: 0px;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-4 {
    width: 235px;
    min-height: 224px;
    --radius: 20px;
    height: auto;
    margin: -224px auto 0 606px;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 20px 0;
  }
  
  .u-section-1 .u-icon-3 {
    margin-right: 0;
    font-size: 3.25em;
    vertical-align: 0px;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-5 {
    width: 235px;
    min-height: 224px;
    --radius: 20px;
    height: auto;
    margin: -224px auto 0 46px;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 20px 0;
  }
  
  .u-section-1 .u-icon-4 {
    margin-right: 0;
    font-size: 3.25em;
    vertical-align: 0px;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-6 {
    width: 235px;
    min-height: 224px;
    --radius: 20px;
    height: auto;
    margin: -225px auto 0 1168px;
  }
  
  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 149px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-icon-5 {
    margin-right: 0;
    font-size: 3.25em;
    vertical-align: 0px;
  }
  
  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-7 {
    min-height: 672px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 86px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 0;
  }
  
  .u-section-1 .u-text-12 {
    font-size: 3rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    text-transform: uppercase;
    font-weight: 700;
    margin: 48px 0 0;
  }
  
  .u-section-1 .u-group-8 {
    min-height: 79px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 1105px;
    margin: 48px auto 0;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .u-section-1 .u-icon-6 {
    width: 64px;
    height: 64px;
    margin: 8px auto 0 32px;
  }
  
  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: -51px auto 0 128px;
  }
  
  .u-section-1 .u-btn-1 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -48px 32px 0 auto;
    padding: 0 20px 0 19px;
  }
  
  .u-section-1 .u-group-9 {
    min-height: 79px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 1105px;
    margin: 18px auto 0;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-icon-7 {
    width: 64px;
    height: 64px;
    margin: 8px auto 0 32px;
  }
  
  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: -53px auto 0 128px;
  }
  
  .u-section-1 .u-btn-2 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -46px 32px 0 auto;
    padding: 0 20px 0 19px;
  }
  
  .u-section-1 .u-group-10 {
    min-height: 79px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 1105px;
    margin: 18px auto 0;
  }
  
  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .u-section-1 .u-icon-8 {
    width: 64px;
    height: 64px;
    margin: 8px auto 0 32px;
  }
  
  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: -51px auto 0 128px;
  }
  
  .u-section-1 .u-btn-3 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -48px 32px 0 auto;
    padding: 0 20px 0 19px;
  }
  
  .u-section-1 .u-group-11 {
    min-height: 79px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 1105px;
    margin: 18px auto 0;
  }
  
  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-1 .u-icon-9 {
    width: 64px;
    height: 64px;
    margin: 8px auto 0 32px;
  }
  
  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: -51px auto 0 128px;
  }
  
  .u-section-1 .u-btn-4 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -48px 32px 0 auto;
    padding: 0 20px 0 19px;
  }
  
  .u-section-1 .u-group-12 {
    min-height: 79px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 1105px;
    margin: 18px auto 0;
  }
  
  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-1 .u-icon-10 {
    width: 64px;
    height: 64px;
    margin: 8px auto 0 32px;
  }
  
  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: -51px auto 0 128px;
  }
  
  .u-section-1 .u-btn-5 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: -48px 32px 0 auto;
    padding: 0 20px 0 19px;
  }

  .u-section-1 .u-btn-6 {
    --radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 1px;
    background-image: none;
    margin: auto;
    margin-top: 20px;
    padding: 0 20px 0 19px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-group-2 {
      height: auto;
    }
  
    .u-section-1 .u-group-3 {
      height: auto;
    }
  
    .u-section-1 .u-group-4 {
      height: auto;
    }
  
    .u-section-1 .u-group-5 {
      height: auto;
    }
  
    .u-section-1 .u-group-6 {
      margin-left: 739px;
      height: auto;
    }
  
    .u-section-1 .u-group-7 {
      height: auto;
    }
  
    .u-section-1 .u-group-8 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  .u-section-1 .u-container-layout-8 {
      padding-top: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-group-9 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-top: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-group-10 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-1 .u-container-layout-10 {
      padding-top: 0;
    }
  
    .u-section-1 .u-btn-3 {
      margin-right: 0;
    }
  
    .u-section-1 .u-group-11 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-1 .u-container-layout-11 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-1 .u-btn-4 {
      margin-right: 0;
    }
  
    .u-section-1 .u-group-12 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-1 .u-container-layout-12 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-1 .u-btn-5 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-3 {
      margin-left: 531px;
    }
  
    .u-section-1 .u-group-6 {
      margin-left: 519px;
    }
  
    .u-section-1 .u-group-8 {
      width: 720px;
    }
  
    .u-section-1 .u-group-9 {
      width: 720px;
    }
  
    .u-section-1 .u-group-10 {
      width: 720px;
    }
  
    .u-section-1 .u-group-11 {
      width: 720px;
    }
  
    .u-section-1 .u-group-12 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-3 {
      margin-left: 351px;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-4 {
      margin-left: 351px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-8 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-9 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-6 {
      margin-left: 339px;
    }
  
    .u-section-1 .u-text-10 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-11 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-group-8 {
      width: 540px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-13 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-9 {
      width: 540px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-14 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-10 {
      width: 540px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-10 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-15 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-11 {
      width: 540px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-11 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-16 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-12 {
      width: 540px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .u-section-1 .u-container-layout-12 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-17 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-group-2 {
      margin-left: 151px;
    }
  
    .u-section-1 .u-group-3 {
      margin-left: 151px;
    }
  
    .u-section-1 .u-group-4 {
      margin-left: 151px;
    }
  
    .u-section-1 .u-group-6 {
      margin-left: 139px;
    }
  
    .u-section-1 .u-text-12 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-group-8 {
      width: 340px;
    }
  .u-section-1 .u-text-13 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-group-9 {
      width: 340px;
    }
  
    .u-section-1 .u-text-14 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-group-10 {
      width: 340px;
    }
  
    .u-section-1 .u-text-15 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-group-11 {
      width: 340px;
    }
  
    .u-section-1 .u-text-16 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-group-12 {
      width: 340px;
    }
  
    .u-section-1 .u-text-17 {
      margin-left: 81px;
    }
  }