.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1300px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 430px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 781px;
    margin: 56px auto 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 0 30px;
  }
  
  .u-section-1 .u-image-1 {
    width: 104px;
    height: 104px;
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin: 21px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0 30px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 30px 84px 0 430px;
  }
  
  .u-section-1 .u-icon-1 {
    margin-right: 7px;
    vertical-align: -4px;
    font-size: 1.75em;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: -56px 571px 0 84px;
  }
  
  .u-section-1 .u-icon-2 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 475px;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px auto 0 129px;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 30px 145px 0 430px;
  }
  
  .u-section-1 .u-icon-3 {
    margin-right: 7px;
    vertical-align: -4px;
    font-size: 1.75em;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: -56px 552px 0 84px;
  }
  
  .u-section-1 .u-icon-4 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -5px;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 474px;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px auto 0 128px;
  }
  
  .u-section-1 .u-group-2 {
    min-height: 613px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 512px;
    margin: 96px auto 0 150px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 39px 0 0;
  }
  
  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 39px 367px 0 35px;
  }
  
  .u-section-1 .u-icon-5 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -5px;
  }
  
  .u-section-1 .u-text-12 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 277px 0 79px;
  }
  
  .u-section-1 .u-text-13 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 30px 271px 0 35px;
  }
  
  .u-section-1 .u-icon-6 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-14 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 385px 0 78px;
  }
  
  .u-section-1 .u-text-15 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 30px 331px 0 35px;
  }
  
  .u-section-1 .u-icon-7 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-16 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 344px 0 70px;
  }
  
  .u-section-1 .u-text-17 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 30px 358px 0 35px;
  }
  
  .u-section-1 .u-icon-8 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-18 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: -56px 214px 0 179px;
  }
  
  .u-section-1 .u-icon-9 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-19 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: -56px 40px 0 323px;
  }
  
  .u-section-1 .u-icon-10 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-20 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 242px 0 220px;
  }
  
  .u-section-1 .u-text-21 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px 96px 0 auto;
  }
  
  .u-section-1 .u-text-22 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px 391px 0 71px;
  }
  
  .u-section-1 .u-group-3 {
    min-height: 613px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 512px;
    margin: -613px 150px 0 auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-text-23 {
    font-size: 2.25rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 11px 0 0;
  }
  
  .u-section-1 .u-text-24 {
    font-size: 1.25rem;
    font-weight: 500;
    width: 334px;
    margin: 38px auto 0;
  }
  
  .u-section-1 .u-icon-11 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -5px;
  }
  
  .u-section-1 .u-text-25 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 133px;
  }
  
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    border-style: solid;
    --radius: 10px;
    font-weight: 700;
    text-decoration: none solid rgb(219, 84, 90);
    margin: -32px 123px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-26 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 36px 271px 0 35px;
  }
  
  .u-section-1 .u-icon-12 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-27 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: -56px 35px 0 271px;
  }
  
  .u-section-1 .u-icon-13 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-28 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 78px;
  }
  
  .u-section-1 .u-text-29 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px 146px 0 auto;
  }
  
  .u-section-1 .u-text-30 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 30px 331px 0 35px;
  }
  
  .u-section-1 .u-icon-14 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-31 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: -56px 35px 0 271px;
  }
  
  .u-section-1 .u-icon-15 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-32 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 78px;
  }
  
  .u-section-1 .u-text-33 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: -32px auto 0 313px;
  }
  
  .u-section-1 .u-text-34 {
    font-weight: 500;
    font-size: 1.25rem;
    width: 240px;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-icon-16 {
    margin-right: 7px;
    font-size: 1.75em;
    vertical-align: -6px;
  }
  
  .u-section-1 .u-text-35 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 0 181px;
  }
  
  .u-section-1 .u-group-4 {
    min-height: 340px;
    height: auto;
    background-image: none;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    width: 865px;
    margin: 96px auto 60px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 0 30px;
  }
  
  .u-section-1 .u-text-36 {
    font-size: 2.25rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 39px 0 0;
  }
  
  .u-section-1 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    width: 576px;
    margin: 35px auto 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 26.6667px);
    grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
    min-height: 164px;
    grid-gap: 40px;
  }
  
  .u-section-1 .u-list-item-1 {
    --radius: 100px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 26px 12px 0 3px;
  }
  
  .u-section-1 .u-text-37 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 32px 47px 0 56px;
  }
  
  .u-section-1 .u-text-38 {
    font-weight: 500;
    margin: 0 4px 0 13px;
  }
  
  .u-section-1 .u-list-item-2 {
    --radius: 100px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 26px 12px 0 3px;
  }
  
  .u-section-1 .u-text-39 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 32px 47px 0 56px;
  }
  
  .u-section-1 .u-text-40 {
    font-weight: 500;
    margin: 0 4px 0 13px;
  }
  
  .u-section-1 .u-list-item-3 {
    --radius: 100px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 26px 12px 0 3px;
  }
  
  .u-section-1 .u-text-41 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 32px 47px 0 56px;
  }
  
  .u-section-1 .u-text-42 {
    font-weight: 500;
    margin: 0 4px 0 13px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-group-2 {
      height: auto;
    }
  
    .u-section-1 .u-group-3 {
      height: auto;
    }
  
    .u-section-1 .u-group-4 {
      height: auto;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
      grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    }
  
    .u-section-1 .u-text-37 {
      width: 35px;
    }
  
    .u-section-1 .u-text-39 {
      width: 35px;
    }
  
    .u-section-1 .u-text-41 {
      width: 35px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      width: 720px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 54px;
      margin-left: 400px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 541px;
      margin-left: 54px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 438px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 115px;
      margin-left: 400px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 522px;
      margin-left: 54px;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 437px;
    }
  
    .u-section-1 .u-group-4 {
      width: 720px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: calc(50% - 20.000025px);
      grid-template-columns: repeat(2, calc(50% - 20.000025px));
      min-height: 572px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1rem;
      margin-right: 0;
      margin-left: 274px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1rem;
      margin-right: 415px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1rem;
      margin-left: 329px;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1rem;
      margin-right: 25px;
      margin-left: 310px;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1rem;
      margin-right: 396px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-8 {
      font-size: 1rem;
      margin-left: 328px;
    }
  
    .u-section-1 .u-text-9 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-11 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-12 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-13 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-14 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-15 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-16 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-17 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-18 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-19 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-20 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-21 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-22 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-24 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-25 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-26 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-27 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-28 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-29 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-30 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-31 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-32 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-33 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-34 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-text-35 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-group-4 {
      width: 540px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: calc(100% - 0px);
      grid-template-columns: 100%;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-37 {
      margin-left: 39px;
      margin-right: 30px;
    }
  
    .u-section-1 .u-text-38 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-39 {
      margin-left: 39px;
      margin-right: 30px;
    }
  
    .u-section-1 .u-text-40 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-41 {
      margin-left: 39px;
      margin-right: 30px;
    }
  
    .u-section-1 .u-text-42 {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 74px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 215px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 207px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 0;
      margin-left: 135px;
    }
  
    .u-section-1 .u-text-7 {
      margin-right: 196px;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 207px;
    }
  
    .u-section-1 .u-text-9 {
      margin-left: 81px;
    }
  
    .u-section-1 .u-group-2 {
      width: 340px;
    }
  
    .u-section-1 .u-text-11 {
      margin-right: 230px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-12 {
      margin-right: 184px;
    }
  
    .u-section-1 .u-text-13 {
      margin-right: 134px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-14 {
      margin-right: 256px;
    }
  
    .u-section-1 .u-text-15 {
      margin-right: 194px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-16 {
      margin-right: 228px;
    }
  
    .u-section-1 .u-text-17 {
      margin-right: 221px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-18 {
      margin-right: 128px;
      margin-left: 93px;
    }
  
    .u-section-1 .u-text-19 {
      margin-right: 0;
      margin-left: 191px;
    }
  
    .u-section-1 .u-text-20 {
      margin-right: 161px;
      margin-left: 146px;
    }
  
    .u-section-1 .u-text-22 {
      margin-right: 260px;
    }
  
    .u-section-1 .u-group-3 {
      width: 340px;
    }
  
    .u-section-1 .u-text-25 {
      margin-left: 88px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-26 {
      margin-right: 134px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-27 {
      margin-right: 0;
      margin-left: 134px;
    }
  
    .u-section-1 .u-text-29 {
      margin-right: 97px;
    }
  
    .u-section-1 .u-text-30 {
      margin-right: 194px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-31 {
      margin-right: 0;
      margin-left: 134px;
    }
  
    .u-section-1 .u-text-33 {
      margin-left: 208px;
    }
  
    .u-section-1 .u-text-35 {
      margin-left: 120px;
    }
  
    .u-section-1 .u-group-4 {
      width: 340px;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-1 .u-text-37 {
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-39 {
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-41 {
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  .u-section-1 .u-list-item-1,
  .u-section-1 .u-list-item-1:before,
  .u-section-1 .u-list-item-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }
  
  .u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }
  
  .u-section-1 .u-list-item-2,
  .u-section-1 .u-list-item-2:before,
  .u-section-1 .u-list-item-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }
  
  .u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }
  
  .u-section-1 .u-list-item-3,
  .u-section-1 .u-list-item-3:before,
  .u-section-1 .u-list-item-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }
  
  .u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  }