.u-section-1 .u-sheet-1 {
    min-height: 745px;
  }
  
  .u-section-1 .u-group-1 {
    width: 491px;
    min-height: 600px;
    background-image: none;
    height: auto;
    --radius: 20px;
    margin: 60px auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 0;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.875rem;
    margin: 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 453px;
    width: 430px;
    margin: 16px auto 0;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
  }
  
  .u-section-1 .u-input-1 {
    font-size: 1.25rem;
    --radius: 15px;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-weight: 700;
  }
  
  .u-section-1 .u-input-2 {
    font-size: 1.25rem;
    --radius: 15px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-weight: 700;
  }
  
  .u-section-1 .u-input-3 {
    font-size: 1.25rem;
    --radius: 15px;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-4 {
    font-weight: 700;
  }
  
  .u-section-1 .u-input-4 {
    font-size: 1.25rem;
    --radius: 15px;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
    font-size: 1.125rem;
    text-transform: uppercase;
    --radius: 30px;
    padding-left: 43px;
    padding-right: 43px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-btn-1 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-group-1 {
      width: 642px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 19px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-group-1 {
      margin-top: 645px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      margin-top: 796px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  }