.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 36.6667px));
  min-height: 550px;
  grid-auto-columns: calc(33.3333% - 36.6667px);
  grid-gap: 55px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 18px 143px 0 35px;
}

.u-section-1 .u-text-4 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-1 .u-text-5 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  --radius: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 20px auto 20px;
  padding: 2px 12px 2px 11px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px 50px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 18px 143px 0 35px;
}

.u-section-1 .u-text-9 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-1 .u-text-10 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  --radius: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 120px auto 0;
  padding: 2px 12px 2px 11px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 20px 50px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 26px 141px 0 37px;
}

.u-section-1 .u-text-14 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-1 .u-text-15 {
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  --radius: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  background-image: none;
  margin: 120px auto 0;
  padding: 2px 12px 2px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 36.6667px));
    min-height: 443px;
    grid-auto-columns: calc(33.333333333333336% - 36.6667px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 268px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 27.500025px));
    min-height: 1120px;
    grid-auto-columns: calc(50% - 27.500025px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 484px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 309px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 110px;
  }
}